*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: .4s;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  display: block;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  transition: .4s;
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

.container-header {
  max-width: 1340px;
  padding: 0 10px;
  margin: 0 auto;
}
.container {
  max-width: 1340px;
  padding: 0 75px;
  margin: 0 auto;
}
body {
  color: #FFF;
  background-color:#14110E ; 
  font-family: 'Urbanist','Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.header {
  padding: 32px 0;
  background-color: #1C1814;
}

.header-wrap,
.header__nav,
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.header__nav {
  flex-grow: 1;
}
.header__icon-search {
  margin-right: 48px;
}
.nav__list-link {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav__list-link_active {
  color: #C99E71;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav__list-link:hover {
  color: #C99E71;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.banner {
  padding-top: 147px;
  padding-bottom: 300px;
  background-image: url(./img/background_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-wrap {
  display: flex;
  justify-content: space-between;
}
.banner__title {
  width: 529px;
  font-family: Righteous;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 32px;
}
